@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: "neo";
  src: url("/font/Demo_Fonts/Fontspring-DEMO-neogroteskess-light.otf") format("opentype");
}

.font-neo {
  font-family: "neo", sans-serif;
}

@font-face {
  font-family: "neo-bold";
  src: url("/font/Demo_Fonts/Fontspring-DEMO-neogroteskessalt-regular.otf") format("opentype");
}

.font-neo-bold {
  font-family: "neo-bold", sans-serif;
}

@font-face {
  font-family: "slight";
  src: url("/font/Demo_Fonts/Fontspring-DEMO-neogroteskess-ultralight.otf") format("opentype");
}

.font-slight {
  font-family: "slight", sans-serif;
}

@font-face {
  font-family: "light";
  src: url("/font/Demo_Fonts/Fontspring-DEMO-neogroteskessalt-light.otf") format("opentype");
}

.font-light {
  font-family: "light", sans-serif;
}